.navbar{
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  text-transform: uppercase;

}
.nav-item a{
  color: white;
}
.nav-item{
  margin-right: 10px;
  text-transform: uppercase;
}

